.overlay {
    position: absolute;
    top: 52%;
    left: -2%;
    transform: translate(50%, -52%);
    width: 480px;
    max-width: 80vw;
    z-index: 1000;
    background: linear-gradient(0deg, #121212, #18181b);
    border: 1px solid #47474a;
    border-radius: 16px;
  }
  .container {
    padding:  34px 32px 40px 32px;
  }
  .title {
    font-family: "Open Sans";
    font-size: 27.33px;
    font-weight: 600;
    line-height: 41px;
    color: #ffffff;
  }
  
  .folderInput {
    margin: 28px 0;
    width: 100%;
    height: 48px;
    background-color: #1f1f23;
    border: none;
    outline: none;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 41px;
    padding: 12px;
    color: #A1A1A14F;
    border-radius: 10px;
  }
  
  input::placeholder{
      color: #A1A1A14F;
  
  }
  
  
  .btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
  }
  
  .cancelBtn,
  .createBtn {
    border: none;
    background-color: transparent;
    font-family: "Open Sans";
    font-size: 27.33px;
    font-weight: 600;
    line-height: 41px;
    cursor: pointer;
  }
  .cancelBtn{
      color:#fff;
  }
  .createBtn {
    color: #4B83FF;
  }
  
  .divider {
    height: 48px;
    width: 1px;
    background-color: #47474a;
  }
  