.nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #ffffff29;
  width: 100%;
}
.container {
  position: relative;
  top: 60px;
  height: 100%;
  display: flex;
}
.sidebar {
  flex-shrink: 0;
  max-height: 100%;
  width: 350px;
  box-shadow: 0px 10px 10px -5px #0000000a;
  box-shadow: 0px 20px 25px -5px #0000001a;
  margin: 12px;
  border-radius: 6px;
  min-height: calc(100vh - 84px);
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-top: 32px;
  margin-right: 240px;
}
.container.dark {
  background-color: #1f1f23;
}

.nav.dark {
  background-color: #18181b;
}

.inputWrapper {
  position: absolute;
  left: 24px;
}
.input {
  outline: none;
  border: none;
  padding: 2px 24px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 4px;
}
.input.dark {
  background-color: #37373e;
  color: #767676d1;
}
.input.dark::placeholder {
  color: #767676d1;
}
.input.light {
  border: 1px solid #d6d6d6;
  color: #767676d1;
}
.input.light::placeholder {
  color: #767676d1;
}

.navBtnWrapper {
  display: flex;
  gap: 12px;
}
.btnWrapper {
  display: flex;
  gap: 16px;
}
.shareBtn,
.saveBtn,
.btn {
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 16.8px;
  border: none;
}
.btn {
  background-color: transparent;
}

.shareBtn {
  
  padding: 6px;
  border-radius: 6px;
  background-color: #1A5FFF;
}
.shareBtn:disabled{
  background-color: #848890;
  cursor: not-allowed;
}
.saveBtn {
  border-radius: 6px;
  background-color: #4ade80cc;
  padding: 6px 10px;
}
.shareBtn,
.saveBtn {
  color: #ffffffeb;
}
.btn.dark {
  color: #ffffffeb;
}
.active.dark {
  color: #7ea6ff;
  border: 1px solid #7ea6ff;
  padding: 6px;
  border-radius: 6px;
}
.active.light {
  color: #7ea6ff;
  border: 1px solid #7ea6ff;
  padding: 6px;
  border-radius: 6px;
}
.closeBtn {
  border: none;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}
.wrapper {
  position: absolute;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.themeToggler {
  position: absolute;
  right: 240px;
}

/* SIDEBAR */

.sidebar.dark {
  background-color: #18181b;
  border: 1px solid #ffffff29;
}
.sidebar.light {
  border: 1px solid #00000029;
}

.sidebarContent {
  margin: 40px 100px 0 12px;
}
.sidebarContent2 {
  margin: 16px 100px 0 12px;
}

.bubble {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 21px;
}

.bubble.dark {
  color: #fff;
}

.btnWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 8px;
}
.button {
  border: none;
  display: flex;
  align-items: center;
  width: 150px;
  height: 40px;
  gap: 10px;
  padding: 0 16px;
  border-radius: 6px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  background-color: transparent;
}
.disable {
  cursor: no-drop;
}
.button.dark {
  color: #ffffffeb;
  background-color: #1f1f23;
  border: 1px solid #27272a;
}
.button.light {
  border: 1px solid #d6d6d6;
}

.mainHeading {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  width: 300px;
  height: 48px;
  padding: 6px 32px;
}
.mainHeading.dark {
  color: #ffffff;
  background-color: #18181b;
}
.mainHeading.light {
  border: 1px solid #d6d6d6;
}
.bubbleInput {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100px;
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  margin: 16px 0;
}
.bubbleInput.dark {
  background-color: #18181b;
}
.bubbleInput.light {
  border: 1px solid #d6d6d6;
}
.deleteSvgWrapper,
.bubbleTextWrapper {
  position: absolute;
}
.deleteSvgWrapper {
  right: -8px;
  top: -10px;
  cursor: pointer;
}
.bubbleTextWrapper {
  left: 20px;
  top: 56px;
}
.label {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 12px;
}
.label.dark {
  color: #fff;
}
.inputBubble {
  height: 40px;
  outline: none;
  border: none;
  padding-left: 32px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 6px;
  border: 1px solid #f55050;
}
.formInput{
  border: none;
}
.inputBubble.dark {
  background-color: #1f1f23;
  color: #84848454;
}
.inputBubble.dark::placeholder {
  color: #84848454;
}

.para {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  color: #555555;
}
