

.container {
  min-height: 100vh; 
}
.container.dark{
  background: #1F1F23

}

.content{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.heading {
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 29.96px;
  margin-bottom: 80px;
}

.heading.dark{
  color: #fff;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
}
.form {
  max-width: 480px;
  width: 80vw;
}
.input {
  outline: none;
  background-color: transparent;
  height: 48px;
  font-family: Open Sans;
  font-size: 19.29px;
  font-weight: 400;
  line-height: 26.28px;
  width: 100%;
  padding: 24px 56px;
  overflow: hidden;
  border-radius: 10px;
}
.input.dark{
  border: 1.38px solid #d0d0d0;
  color: #828282;

}
.input.light{
  color: #3d3434;
  border: 1px solid #222420;
}
input.light::placeholder{
    color: #3d3434;

}
.input.dark::placeholder {
  color: #828282;
}

.inputIcon {
  position: absolute;
  left: 10px;
}

.viewBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}
.btnUpdate, .loadingState {
  width: 100%;
  height: 56px;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #1a5fff;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 19.29px;
  font-weight: 400;
  line-height: 26.28px;
  text-align: center;
  color: #fff;
  margin-top: 12px;
}
.loadingState{
  cursor: no-drop;
}
.logoutBtn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 60px;
  bottom: 48px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #CF3636;
  gap: 12px;
  cursor: pointer;
}
