.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
}
.overlay {
  position: absolute;
  background: linear-gradient(0deg, #121212, #18181b);
  top: 190px;
  left: 160px;
  z-index: 100;
  max-width: 600px;
  width: 70vw;
  
  border-radius: 20px;
  box-shadow: 0px 0px 3.8px 0px #ffffff40;
}
.modalContent {
  padding: 48px 32px 40px 32px;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.heading {
  font-family: "Open Sans";
  font-size: 27.33px;
  font-weight: 600;
  line-height: 41px;
  color: #fff;
}
.select {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  padding: 6px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 41px;
}
.option {
  background-color: #1f1f23;
  box-shadow: 0px 1px 3.5px 0px #ffffff40;
  text-align: center;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.input {
  background-color: #1f1f23;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 41px;
  color: #a1a1a14f;
  border-radius: 8px;
  margin-bottom: 12px;
}
.linkHeading {
  margin-bottom: 16px;
}
.btn {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  background-color: #1a5fff;
  border: none;
  box-shadow: 0px 4px 10px 0px #e9444b40;
  width: 100%;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
}
