.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #0009;
}

.overlay {
  position: absolute;
  top: 174px;
  left: 332px;
  width: 420px;
  max-width: 80vw;
  z-index: 10;
  border: 1px solid #47474a;
  border-radius: 24px;
}
.overlay.dark {
  background: linear-gradient(0deg, #121212, #18181b);
}
.overlay.light {
  background-color: #fff;
}

.container {
  padding: 24px 32px;
}

.title,
.deleteBtn,
.cancelBtn {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 27.33px;
  line-height: 41px;
}

.title {
  text-align: center;
}
.title.dark,
.cancelBtn.dark {
  color: #ffffff;
}

.btnWrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.divider {
  height: 48px;
  width: 1px;
  background-color: #47474a;
}
.deleteBtn,
.cancelBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.deleteBtn {
  color: #4b83ff;
}
