.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s color 0.3s;
}

.container.light {
  background-color: #ffffff;
}
.container.dark {
  background: linear-gradient(0deg, #121212, #18181b);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #ffffff29;
  position: relative;
}
.nav.light {
  border: 1px solid #d6d6d6;
}
.themeToggler {
  position: absolute;
  right: 240px;
}
.shareBtn {
  position: absolute;
  right: 64px;
  background-color: #1a5fff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
}
.select {
  border: 1px solid #ffffff29;
  outline: none;
  background-color: transparent;
  color: #ffffffeb;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  min-width: 240px;
}
.select.light {
  color: #000;
  background-color: #fff;
  border: 1px solid #d6d6d6;
}


.option.dark {
  background-color: #1d1d1d;
}
.option.light {
  background-color: #fff;
}
.logout {
  color: #ffa54c;
}

/* 
    CONTENT
 */

.content {
  margin: 40px 0 0 100px;
}

.folderWrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.folder {
  min-width: 180px;
}

.selectedFolder.dark {
  background-color: #fff;
  color: red;
}
.selectedFolder.light {
  background-color: rgb(37, 36, 36);
}
.selectedFolder.dark > button {
  color: #18181b;
}
.selectedFolder.light > button {
  color: #fff;
}

.createFolderBtn,
.folder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff14;
  border-radius: 8px;
  padding: 8px 14px;
  gap: 8px;
}

.folderName {
  background-color: transparent;
  padding: 0 16px;
}

.createFolderBtn,.folderName {
  font-size: 16px;
  border: none;
  font-family: "open sans";
  font-weight: 600;
  cursor: pointer;
}
.deleteBtn,
.createFileBtn,
.deleteFormBtn {
  cursor: pointer;
}
.deleteBtn,
.createFileBtn,
.deleteFormBtn {
  background-color: transparent;
  border: none;
  display: flex;
}

.createFolderBtn.dark,
.folderName.dark {
  color: #ffffffeb;
}
.createFolderBtn.light,
.folder.light,
.form.light {
  border: 1px solid #d6d6d6;
}
.img.light {
  filter: invert(100%);
}

.filesWrapper {
  margin: 32px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.createFile,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 260px;
  position: relative;
  border-radius: 6px;
}

.createFile {
  background-color: #1a5fff;
}
.form {
  background: #ffffff80;
}

.formName{
  cursor: pointer;
}

.fileText,
.formName {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
}
.formName.dark {
  color: #fff;
}
.fileText {
  color: #fff;
  position: absolute;
  bottom: 56px;
}
.deleteFormBtn {
  position: absolute;
  top: -10px;
  right: -8px;
}
