.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #0009;
}

.overlay {
  position: fixed;
  top: 170px;
  left: 338px;
  width: 540px;
  max-width: 80vw;
  z-index: 1000;
  border: 1px solid #47474a;
  border-radius: 20px;
  box-shadow: 0 0 3.8px #ffffff40;
}
.overlay.dark {
  background: linear-gradient(0deg, #121212, #18181b);
}
.overlay.light {
  background-color: #fff;
}
.container {
  padding: 34px 32px 40px 32px;
}
.title {
  font-family: "Open Sans";
  font-size: 27.33px;
  font-weight: 600;
  line-height: 41px;
}
.title.dark,
.cancelBtn.dark {
  color: #ffffff;
}

.title.light,
.cancelBtn.light{
  color: #000;
}

.folderInput {
  margin: 28px 0;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 41px;
  padding:32px 12px;
  border-radius: 10px;
}
.folderInput.dark{
  background-color: #1f1f23;
  color: #a1a1a14f;
}
.folderInput.light{
  color: #3d3434;
  border: 1px solid #7d8d74;
}
.folderInput.dark::placeholder{
  color: #a1a1a14f;
}
.folderInput.dark::placeholder{
  color:#3d3434;
}



.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.cancelBtn,
.createBtn {
  border: none;
  background-color: transparent;
  font-family: "Open Sans";
  font-size: 27.33px;
  font-weight: 600;
  line-height: 41px;
  cursor: pointer;
}

.createBtn {
  color: #4b83ff;
}

.divider {
  height: 48px;
  width: 1px;
  background-color: #47474a;
}
